USE [master]
GO
/****** Object:  Database [HTTT]    Script Date: 4/24/2025 8:21:06 PM ******/
CREATE DATABASE [HTTT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HTTT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTTT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HTTT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HTTT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HTTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HTTT]
GO
/****** Object:  User [chuShop]    Script Date: 4/24/2025 8:21:06 PM ******/
CREATE USER [chuShop] FOR LOGIN [chuShop] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[PhieuNhapHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapHang](
	[MaNhapHang] [int] IDENTITY(1,1) NOT NULL,
	[NhaCungCap] [nvarchar](100) NOT NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhapHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhapHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhapHang](
	[MaChiTietNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhapHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[Gia] [decimal](10, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PhieuNhapHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_PhieuNhapHang] AS
SELECT 
    pnh.MaNhapHang,
    pnh.NhaCungCap,
    pnh.NgayNhap,
    ct.MaChiTietNhap,
    ct.MaSanPham,
    sp.TenSanPham,
    ct.SoLuong,
    ct.GiaNhap,
    ct.SoLuong * ct.GiaNhap AS ThanhTien,
    SUM(ct.SoLuong * ct.GiaNhap) OVER (PARTITION BY pnh.MaNhapHang) AS TongTien
FROM 
    PhieuNhapHang pnh
JOIN 
    ChiTietPhieuNhapHang ct ON pnh.MaNhapHang = ct.MaNhapHang
JOIN 
    SanPham sp ON ct.MaSanPham = sp.MaSanPham;
GO
/****** Object:  Table [dbo].[PhieuTraHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuTraHang](
	[MaTraHang] [int] IDENTITY(1,1) NOT NULL,
	[MaBaoHanh] [int] NOT NULL,
	[NgayNhan] [datetime] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTraHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](50) NULL,
	[MaKhachHang] [int] NULL,
	[NgayDatHang] [datetime] NULL,
	[MaKhuyenMai] [nvarchar](50) NULL,
	[ThanhToan] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuBaoHanh]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuBaoHanh](
	[MaBaoHanh] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[NgayMua] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PhieuHen]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PhieuHen] AS
SELECT 
    ph.MaTraHang,
    ph.MaBaoHanh,
    ph.NgayNhan,
    ph.NgayTra,
    ph.TrangThai,
    pb.TenSanPham,
    kh.TenKhachHang
FROM PhieuTraHang ph
JOIN PhieuBaoHanh pb ON ph.MaBaoHanh = pb.MaBaoHanh
JOIN DonHang dh ON pb.MaDonHang = dh.MaDonHang
JOIN KhachHang kh ON dh.MaKhachHang = kh.MaKhachHang;
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TrangThaiNhanVien] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKhuyenMai] [nvarchar](50) NOT NULL,
	[SoTienGiam] [decimal](10, 2) NOT NULL,
	[SoLanSuDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HoaDon]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_HoaDon] AS
SELECT 
    dh.MaDonHang,
    dh.NgayDatHang,
    nv.TenNhanVien,
    kh.TenKhachHang,
    kh.SoDienThoai,
    kh.DiaChi,
    sp.TenSanPham,
    ct.SoLuong, 
    sp.Gia,
    km.SoTienGiam,
    (sp.Gia * ct.SoLuong) AS ThanhTien,
    (SUM(sp.Gia * ct.SoLuong) OVER (PARTITION BY dh.MaDonHang) - ISNULL(km.SoTienGiam, 0)) AS TongTien
FROM DonHang dh
JOIN NhanVien nv ON dh.MaNhanVien = nv.MaNhanVien
LEFT JOIN KhachHang kh ON dh.MaKhachHang = kh.MaKhachHang
JOIN ChiTietDonHang ct ON dh.MaDonHang = ct.MaDonHang 
JOIN SanPham sp ON ct.MaSanPham = sp.MaSanPham 
LEFT JOIN KhuyenMai km ON dh.MaKhuyenMai = km.MaKhuyenMai;
GO
/****** Object:  View [dbo].[vw_PhieuBaoHanh]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_PhieuBaoHanh] AS
SELECT 
    pb.MaBaoHanh,
    pb.TenSanPham,
    pb.MaDonHang,
    pb.NgayMua,
    pb.NgayHetHan,
    hd.TenKhachHang,
    hd.SoDienThoai,
    hd.DiaChi,
    hd.NgayDatHang,
    hd.TongTien
FROM PhieuBaoHanh pb
JOIN (
    SELECT 
        MaDonHang,
        MAX(TenKhachHang) AS TenKhachHang,
        MAX(SoDienThoai) AS SoDienThoai,
        MAX(DiaChi) AS DiaChi,
        MAX(NgayDatHang) AS NgayDatHang,
        MAX(TongTien) AS TongTien
    FROM vw_HoaDon
    GROUP BY MaDonHang
) hd ON pb.MaDonHang = hd.MaDonHang;
GO
/****** Object:  Table [dbo].[LichSuDangNhap]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuDangNhap](
	[MaDangNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[ThoiGianDangNhap] [datetime] NOT NULL,
	[ThoiGianDangXuat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 4/24/2025 8:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaNhanVien] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDatHang]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [TrangThaiNhanVien]
GO
ALTER TABLE [dbo].[PhieuNhapHang] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[PhieuTraHang] ADD  DEFAULT ('Chua x? lý') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH NOCHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH NOCHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD FOREIGN KEY([MaNhapHang])
REFERENCES [dbo].[PhieuNhapHang] ([MaNhapHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhapHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([MaKhuyenMai])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichSuDangNhap]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[TaiKhoan] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuBaoHanh]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[PhieuTraHang]  WITH CHECK ADD FOREIGN KEY([MaBaoHanh])
REFERENCES [dbo].[PhieuBaoHanh] ([MaBaoHanh])
GO
USE [master]
GO
